@import '../styles/variables';
@import '../styles/fonts';
@import '../styles/colors';
@import '../styles/helpers';

.scope-nav-bar {
  background: $primary-color;
  height: $bar-height;

  .content {
    height: 100%;
  }

  .scope-nav-item {
    display: inline-flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    padding: 0 $padding;
    box-sizing: border-box;
  }

  .scope-nav-item-title {
    font-size: rem(14);
    font-weight: $font-weight-semibold;
  }

  .scope-nav-item.active {
    @include active-border;
  }
}
