@import 'colors';
@import 'variables';
@import 'fonts';

// Common

.avatar {
  width: $avatar-width-md;
  height: $avatar-width-md;
  border-radius: 50%;
}

.bottom-shadow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-content {
  width: 100%;
  max-width: $content-main-width;
  margin-left: auto;
  margin-right: auto;
}

// Buttons

$button-background-color: $active-color;

.button {
  background: $button-background-color;
  text-decoration: none;
  height: $button-height;
  padding: 0 10px;
  font-size: rem(15);
  color: white;
  border-radius: $button-height / 2;
  &:not(:disabled) {
    &:hover, &:focus {
      background: darken($button-background-color,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background: darken($button-background-color, 25%);
    }
  }
}

.outline-button {
  border-style: solid;
  border-width: 1px;
  height: $button-height;
  padding: 0 $padding;
  border-radius: $button-height / 2;
  border-color: $button-background-color;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  color: $primary-text-color;
  &:not(:disabled) {
    &:hover, &:focus {
      border-color: darken($button-background-color,8%);
      color: darken($primary-text-color, 8%);
      background: darken(white, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      border-color: darken($button-background-color, 25%);
      color: darken($primary-text-color, 25%);
      background: darken(white, 25%);
    }
  }
}

// Counters

.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-label {
  font-size: rem(14);
}

.counter-value {
  font-weight: $font-weight-semibold;
}

// User card

.user-card.container {
  background: white;
}

.user-card .cover {
  height: $cover-height;
  background: lightblue;
}

.user-card .avatar {
  margin: $padding;
  margin-top: -2 * $padding;
  border: 2px solid white;
}

.user-card .subtitle {
  font-size: rem(14);
  margin-top: rem(4);
}

// Form

.fieldset {
  margin-bottom: $spacing-md;
  border: 1px solid black;
  height: $input-height;
  max-width: $max-input-width;
  border-radius: $border-radius-sm;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  button {
    margin-right: $padding / 2;
    border-radius: $border-radius-sm;
  }

  .form-input {
    flex-grow: 1;
    margin-left: $padding;
    margin-right: $padding;
  }

  .input-icon {
    margin-left: $padding;
  }
}

.reference-label::after {
  content: " ";
}

.reference, .form-title, .form-message {
  text-align: center;
}

.form-title {
  margin-bottom: $spacing-sm;
}

.form-button {
  min-width: 200px;
  border-radius: $border-radius-sm;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-message, form {
  margin-bottom: $spacing-lg;
}
