@import 'colors';
@import 'variables';
@import 'fonts';

// Common

.avatar {
  width: $avatar-width;
  height: $avatar-width;
  border-radius: 50%;
}

.bottom-shadow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-content {
  width: 100%;
  max-width: $content-main-width;
  margin-left: auto;
  margin-right: auto;
}

// Buttons

$button-background-color: $active-color;

.button {
  background: $button-background-color;
  text-decoration: none;
  height: 32px;
  padding: 0 10px;
  font-size: rem(15);
  color: white;
  border-radius: 16px;
  &:not(:disabled) {
    &:hover, &:focus {
      background: darken($button-background-color,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background: darken($button-background-color, 25%);
    }
  }
}

.outline-button {
  border-style: solid;
  border-width: 1px;
  height: 32px;
  padding: 0 $padding;
  border-radius: 16px;
  border-color: $button-background-color;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  color: $primary-text-color;
  &:not(:disabled) {
    &:hover, &:focus {
      border-color: darken($button-background-color,8%);
      color: darken($primary-text-color, 8%);
      background: darken(white, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      border-color: darken($button-background-color, 25%);
      color: darken($primary-text-color, 25%);
      background: darken(white, 25%);
    }
  }
}

// Counters

.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-label {
  font-size: rem(14);
}

.counter-value {
  font-weight: $font-weight-semibold;
}

// User card

.user-card.container {
  background: white;
}

.user-card .cover {
  height: $cover-height;
  background: lightblue;
}

.user-card .avatar {
  margin: $padding;
  margin-top: -2 * $padding;
  border: 2px solid white;
}

.user-card .subtitle {
  font-size: rem(14);
  margin-top: rem(4);
}
