@import 'colors';
@import 'variables';

@function rem($pixels, $browser-context: 16) {
  @return ($pixels / $browser-context) * 1rem;
}

@mixin border-dark {
  border: $border-width-sm solid $primary-text-color;
}

@mixin border {
  border: $border-width-sm solid $background-color;
}

@mixin separator-top {
  border-top: $border-width-sm solid $background-color;
}

@mixin separator {
  border-bottom: $border-width-sm solid $background-color;
}

@mixin active-border {
  border-bottom: $border-width-md solid $active-button-color;
}

@mixin full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
