@import 'fonts';
@import 'helpers';

body {
  font-family: $text-font;
}

small, .light {
  font-weight: $font-weight-light;
}

strong, .semibold {
  font-weight: $font-weight-semibold;
}

.bold {
  font-weight: $font-weight-bold;
}
