// Spacing
$padding: 10px;

$spacing-sm: $padding * 1.5;
$spacing-md: $padding * 2;
$spacing-lg: $padding * 4;

// Cover
$cover-height: 80px;

// Border
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 16px;

$border-width-sm: 1px;
$border-width-md: 2px;
$border-width-lg: 4px;

// Content
$content-main-width: 600px;
$content-primary-width: 512px;
$content-secondary-width: 280px;
$max-component-width: 860px;

// Z-index
$z-index-component: 0;
$z-index-dropdown: 5;
$z-index-popup: 10;

// Components
$bar-height: 46px;
$input-height: 40px;
$max-input-width: 300px;

// Screen media query breaks
$break-sm: 512px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;
