// Components
$padding: 10px;
$avatar-width-xs: 32px;
$avatar-width-sm: 48px;
$avatar-width: 64px;
$cover-height: 80px;
$content-primary-width: 512px;
$content-secondary-width: 280px;
$max-component-width: 860px;

// Screen media query breaks
$break-sm: 512px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;
