// Spacing
$padding: 10px;
$spacing-sm: $padding * 1.5;
$spacing-md: $padding * 2;
$spacing-lg: $padding * 4;

// Avatar
$avatar-width-xs: 32px;
$avatar-width-sm: 48px;
$avatar-width-md: 64px;

// Cover
$cover-height: 80px;

// Border
$border-radius-sm: 8px;
$border-radius-md: 16px;

// Content
$content-main-width: 600px;
$content-primary-width: 512px;
$content-secondary-width: 280px;
$max-component-width: 860px;

// Components
$bar-height: 46px;
$input-height: 40px;
$max-input-width: 300px;
$button-height: 32px;

// Screen media query breaks
$break-sm: 512px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;
