@import '../../../styles/variables';
@import '../../../styles/fonts';
@import '../../../styles/helpers';
@import '../../../styles/colors';

.user-item.container {
  box-sizing: border-box;

  .content {
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .follow-button {
    margin: $spacing-sm $spacing-sm 0 0;
  }

  .texts {
    margin: $spacing-sm;
  }

  .bio {
    font-size: rem(14);
    margin-top: rem(10);
  }
}

@media screen and (max-width: $break-sm) {
  .user-item.container {
    .cover {
      display: none;
    }

    .header {
      display: block;
    }

    .content {
      display: flex;
    }

    .title, .subtitle {
      width: 75%;
    }

    .follow-button {
      position: absolute;
      right: 0;
    }
  }
}
