@import '../../../styles/colors';
@import '../../../styles/variables';

.settings-menu-button {
  display: block;
  color: $primary-text-color;
  font-size: rem(17);

  &:hover {
    background: $selected-color;
  }

  &.active {
    border-left: $border-width-lg solid $active-color;

    .settings-menu-item-title {
      margin-left: $spacing-sm - $border-width-lg;
    }

    &:hover {
      background: $primary-color;
    }
  }
}
