@import '../../styles/variables';
@import '../../styles/helpers';
@import '../../styles/fonts';

$context-icon-width: 16px;

.wrapper {
  display: flex;
}

.thought-item {
  background: $primary-color;
}

.context-icon {
  margin-left: ($avatar-width-sm + $padding) - $context-icon-width;
  width: $context-icon-width;
  margin-right: $padding;
}

.context {
  display: inline-block;
  margin-top: $padding;
  color: gray;
  font-size: rem(12);
  font-weight: $font-weight-regular;
}

.buttons > button {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
  height: 20px;
  background-color: white;

  &:active {
    color: lighten($primary-text-color, 30%);
  }
}

.profile-action {
  margin: $padding 0 0;
}

.button-label {
  margin-left: 5px;
  font-size: rem(12);
}

.text {
  margin: $padding 0 0 0;
}

.buttons {
  display: flex;
  margin: $padding 0;
}

.thought-item .avatar {
  width: $avatar-width-sm;
  height: $avatar-width-sm;
  padding: $padding;
  flex-shrink: 0;
}

.button-icon {
  width: 20px;
  height: 15px;
}

.time::before {
  content: '\00b7 ';
}

.like-button {
  margin-left: $spacing-md;
}

.name::after, .username::after {
  content: ' ';
}
