@import '../styles/variables';
@import '../styles/fonts';
@import '../styles/helpers';

.overlay {
  @include full-screen;
  background: $dark-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow-y: scroll;
  z-index: $z-index-popup;
}
