@import '../styles/variables';
@import '../styles/fonts';
@import '../styles/helpers';
@import '../styles/colors';

.control-bar-container {
  background: $primary-color;

  .control-bar {
    height: rem(50);
    align-items: center;
  }

  .counters {
    height: 100%;
    justify-content: space-around;
  }

  .counter {
    width: 24%;
    justify-content: center;
    text-decoration: none;
    color: $primary-text-color;
    padding: 0 $padding;

    &.active {
      @include active-border;
    }

    .counter-label {
      font-size: rem(14);
      font-weight: $font-weight-semibold;
    }

    .counter-value {
      font-size: rem(17);
      font-weight: $font-weight-bold;
    }
  }
}


