@import '../../styles/variables';

.user-card .content {
  display: flex;
  flex-direction: row;
}

.counters {
  margin: 0 0 $padding;
}

.user-card .texts {
  margin: $padding;
  margin-left: 0;
}

.user-card .title {
  margin: 0;
}
