@import '../styles/variables';
@import '../styles/fonts';
@import '../styles/helpers';

.avatar-section {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-sm;
  position: relative;
  align-items: flex-end;

  #file {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .avatar {
    background: gray;
    display: inline-block;
  }

  .icon-button {
    width: $avatar-width-xs;
    height: $avatar-width-xs;
    background: $active-color;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -$avatar-width-xs / 2;

    .input-icon {
      color: $primary-color;
    }

    &:active {
      background: $active-button-color;
    }
  }
}
